.form
{
    margin-left : 50vw ;
    height : 65vh ;
    width : 400px ;
   border : 2px solid black ;
}
h1
{
    font-size : 40px ;
    text-transform : capitalize ;
    text-align : center ;
    font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    margin-top : 30px ;
}
form
{
    margin-top : 70px ;
}
input
{
    height : 30px ;
    width : 300px ;
    margin-left : 50px ;
    margin-top : 10px ;
    background-color : rgba(178, 188, 192, 0.2);
    padding-left : 5px ;
}
input::placeholder
{
    text-transform: capitalize;
}
.enter
{
    margin-top :20px ;
    border-radius : 5px ;
    background-color : #53bdeb ;
    color : white ;
}
h3
{
    text-transform : capitalize ;
    text-align : center ;
}
.find
{
    text-align : center ;
    color : #00b3ff ;
    font-size : 20px ;
}
i
{
    margin-right : 10px ;
    size : 2em ;
}
a 
{
    text-decoration : none ;
    text-transform: capitalize ;
}
a:hover 
{
    color : black ;
}
.f2
{
    color : #00b3ff ;
}
.k2
{
    color : black ;
}
.signup
{
    color : #00b3ff ;
}
.signon
{
    margin-top : 40px ;
    margin-left : 50vw ;
    height : 5vh ;
    width : 400px ;
   border : 2px solid black ;
   text-align : center ;
   font-size : 20px ;
   padding-top : 16px ;
}
.photo
{
    position : absolute ;
    top : 16px ;
    left : 400px ;
    height : 75vh ;
}
.photo img 
{
    height : 100% ;
}
.logo
{
    margin-top : 16px ;
    margin-left : 50vw ;
    height : 10vh ;
    width : 500px ;
   text-align : center ;
   font-size : 20px ;
}
p
{
    text-transform : capitalize ;
    position : relative ;
    left : -10% ;
}
.g1
{
    position : relative ;
    left : -40px ;
    height : 4em ;
    width :  170px ;
    background-image : url("Google_Play_Store_badge_EN.svg.webp") ;
    background-size : contain ;
    border-radius : 4px ;
    margin-left : 26px ;
}
.g2
{
    position : relative ;
    left : -40px ;
    height : 4em ;
    width :  180px ;
    background-image : url("msft-microsoft-logo-2-3\ 12.jpg") ;
    background-size : cover ;
    border-radius : 4px ;
}